<ul class="list-group list-group-flush" style="border-radius:5px;">
    <li class="list-group-item">
        <a id="homeIndex" href="/Home/Index"> <i class="fas fa-list me-2"></i> Tüm Listeler</a>
    </li>
    <li class="list-group-item">
        <a href="/Home/Index?timeEnd=true"><i class="fas fa-clock me-2"></i> Süresi Dolan Listeler</a>
    </li>
    <li class="list-group-item">
        <a href="/Auth/Profile"><i class="fas fa-user me-2"></i> Profile Ayarları</a>
    </li>
    <li class="list-group-item">
        <a href="/Home/Help"><i class="fas fa-bookmark me-2"></i> Yardım</a>
    </li>
</ul>
